SECRET_KEY=your-secret-key
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost
DB_NAME=askpupkin
DB_USER=postgres
DB_PASSWORD=your-password
DB_HOST=localhost
DB_PORT=5432
REDIS_HOST=localhost
REDIS_PORT=6379
CENTRIFUGO_API_URL=http://localhost:8003/api
CENTRIFUGO_API_KEY=your-centrifugo-api-key
CENTRIFUGO_TOKEN_SECRET=your-centrifugo-token-secret
CENTRIFUGO_WS_URL=ws://localhost:8003/connection/websocket
EMAIL_HOST=localhost
EMAIL_PORT=1025
DEFAULT_FROM_EMAIL=noreply@askpupkin.com